<div id="container">

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-routes" appearance="outline">
      <mat-label>Select Route: </mat-label>
      <mat-select class="form-select" data-cy="routes" formControlName="endpointIdAndEntityId" id="routeAndEntity">
        <mat-select-trigger>
          <span class="type-method {{selectedEndpoint.type}}">
            {{selectedEndpoint.type}}
          </span>
          <span>
            {{selectedEndpoint.endpoint}}
          </span>
        </mat-select-trigger>
        <mat-option (click)="enableSolicitationTypeButton()"></mat-option>

        <mat-optgroup *ngFor="let entity of getEntityGroups" [label]="entity.name" >
          <mat-option *ngFor="let endpoint of entity.endpoint" [value]="[entity.id,endpoint.id]"
            (click)="setSelectedEndpoint(endpoint)">
            <span class="type-method {{endpoint.type}}"> {{endpoint.type}} </span>
            {{endpoint.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>

      <mat-error *ngIf="formControls.endpointIdAndEntityId.invalid">Please choose a route</mat-error>
    </mat-form-field>

    <mat-radio-group id="typeSolicitation" class="form-types" formControlName="solicitationType">
      <mat-radio-button *ngFor="let type of getSolicitationTypes" [value]="type.id">
        {{type.name}}
      </mat-radio-button>
      <mat-error *ngIf="checkIfSolicitationTypeIsValid()">
        Please choose if you want tovalidate your request or response</mat-error>
    </mat-radio-group>

    <span class="label">COPY YOUR JSON TEXT HERE<span
        class="nameEndpointSelected">{{selectedEndpoint.endpoint}}</span></span>
    <mat-form-field appearance="outline">
      <textarea formControlName="json" data-cy="json-area" matInput name="" id="json" placeholder="{}" cols="50" rows="15"></textarea>
      <mat-error *ngIf="formControls.json.invalid">Please inform the JSON you want to
        validade</mat-error>
    </mat-form-field>
    <button class="btn-validate" data-cy="submit" type="submit" disabled="{{!form.valid}}" mat-raised-button>Validate</button>
  </form>

  <div *ngIf="showResult">
    <span class="label">RESULT :</span>
    <div class="result">
      <div *ngIf="isValid; else invalid" class="valid">
        {{NO_ERRORS_MESSAGE}}
      </div>
      <ng-template #invalid>
        <span class="invalid">Found {{getErrors.length}} error(s)</span>
        <div class="invalid" *ngFor="let error of getErrors">
          <span class="message">Message:</span>
          {{error.message}}<br>
          <span>Path:</span>
          {{(error.instancePath == '' ? '#/' : '#' + error.instancePath)}}
        </div>
      </ng-template>

    </div>
  </div>

</div>
