#container {
  font-size: 1.3rem;
  display: flex;
  padding: 0.5rem 3rem;
  background-color: rgba($color: #0d6366, $alpha: 0.2);
  justify-content: space-between;

  .logo img {
    max-height: 3rem;
  }


  .content {
    color: #0d6366;
    align-self: center;
    font-weight: 500;
  }


  .content-version {
    display: block;
    text-align: end;
    font-size: 0.65rem;
  }

  .logo-programmers {
    max-height: 2.7rem;
  }

}

@media screen and(max-width:900px) {
  .logo-programmers {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #container {
    flex-direction: column;
    align-items: center;
  }

  .logo img {
    height: 3rem;
  }

  .content {
    margin-top: 1.2rem;

    .title {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 550px) {

  #container {
    font-size: 1rem;
  }

  .logo img {
    height: 2.5rem;
  }

  .content {
    .hidden-mobile {
      display: none;
    }
  }

}
