#container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  padding: .6rem 0;
  background-color: #0d6366;

  span {
    margin-right: .7rem;
  }

  .img {
    max-height: 2rem;
  }
}
