name: Build, Test and Deploy

on:
  push:
    branches:
      - main

jobs:

  build-test-deploy:
    name: Build, Test and Deploy
    runs-on: ubuntu-latest

    steps:

      - name: Checkout 
        uses: actions/checkout@v2

      - name: Install and Build
        run: |
          cd src
          npm ci
          npm run-script deploy

      - name: Tests
        run: |
          cd src
          npm run-script test
  
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: src/dist/open-delivery-api-schema-validator